.container {
  padding: 0;
  margin: 0;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 ;
  border-bottom: 2px solid;
  margin-left: 1.5rem;
}

.homeContent {
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "Heading Heading Posts Posts Posts Generator Generator"
  "Heading Heading . Notepad Notepad Notepad Notepad"
  "Heading Heading ContactUs Notepad Notepad Notepad Notepad"
  ". . ContactUs Notepad Notepad Notepad Notepad"
  ;
  height: calc(100vh - 46px);
}

.homeContent h1 {
  max-width: 25rem;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.1;
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
  

}

.headingBlurb {
  grid-area: Heading;
  align-self: center;
}

.generator {
  grid-area: Generator;
  border-left: 2px solid;
  border-bottom: 2px solid;
}
.Posts {
  grid-area: Posts;
  border-left: 2px solid;
  border-bottom: 2px solid;
  padding: 1rem;
}

.notepad {
  grid-area: Notepad;
  border-left: 2px solid;
  padding: 1rem 2rem;
  background: url('/images/photocopy-edge.jpg');
  background-repeat: no-repeat;
  background-size: 2.5rem;
}

.contactUs {
  grid-area: ContactUs;
  width: 14.25rem;
  font-size: 0.75rem;
  font-weight: 200;
  align-self: end;
  margin-bottom: 1rem;
}
.contactUs p {
  margin-bottom: 0.125rem;
  color: rgba(0,0,0,0.64);
}

.contactUs a{
  color: rgba(0,0,0,0.64);
}

.sharkieBois a + a{
  margin-left: 0.25rem;
}

.backToHome {
  margin: 3rem 0 0;
}


