
.container {
  padding: 0;
  margin: 0;
  color: var(--color-dark);
  /* background: url('/images/Indieground_FoldedPaper_Textures_02.jpg'), black;
  background-size: cover;
  background-blend-mode: luminosity; */
}



.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding: 0.5rem 0 ;
  border-bottom: 2px solid;
  margin: 0 1.5rem;
}

.intro {
  margin: 0 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1.25fr;
  grid-gap: 1rem;
}

.homeContent h1 {
  max-width: 22rem;
  font-size: 2.4rem;
  font-family: var(--font-light);
  font-weight: normal;
  line-height: 1.1;
  border-bottom: 2px solid;
  padding-bottom: 2rem;
}

.heroText {
  font-family: var(--font-bold);
  font-size: 15rem;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  line-height: 1;
  text-align: center;
}

.heroText > div:nth-of-type(6) {
  grid-row-start: 3;
}
.heroText > div:nth-of-type(7) {
  grid-row-start: 3;
  grid-column-start: 3;
}
.heroText > div:nth-of-type(8) {
  grid-row-start: 4;
  grid-column-start: 3;
}
.heroText > div:nth-of-type(9) {
  grid-row-start: 4;
  grid-column-start: 3;
  margin-right: -2.5ch;
}



.homeNav {
  display: flex;
  flex-direction: column;
  font-family: var(--font-bold);
  font-size: 1.725rem;
  max-width: 6.5rem;
  line-height: 1.1;
}

.homeNav a {
  margin: 1rem 0;
}



.ourStories {

}

.notepad {
  border-left: 2px solid;
  padding: 1rem 2rem;
  background: url(/images/photocopy-edge.jpg), var(--color-light);
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: 2.5rem;
  overflow-y: auto;
}

.contactUs {
  border-top: 2px solid;
  margin:0 1.5rem;
  font-weight: 400;
  align-self: end;
  margin-bottom: 1rem;
}
.contactUs p {
  margin-bottom: 0.125rem;
  color: var(--color-dark);
}

.contactUs a{
  color: var(--color-dark));
}

.sharkieBois a + a{
  margin-left: 0.25rem;
}

.cta {
  border: 2px solid;
  background: var(--color-light);
  padding: 0.5rem 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.center {
  margin: 0 auto;
}


@media screen and (max-width: 1080px) {
  .homeContent {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  .headingBlurb {
    align-self: start;
    margin-left: 1rem;
  }
  .notepad,
  .generator,
  .Posts {
    border: 2px solid;
    border-bottom: 0;
  }
  .notepad {
    border-bottom: 2px solid;
    min-height: 50%;
  }
  .contactUs {
    text-align: right;
  }
}

