
.container {
  padding: 0;
  margin: 0;
  color: var(--color-dark);
  /* background: url('/images/Indieground_FoldedPaper_Textures_02.jpg'), black;
  background-size: cover;
  background-blend-mode: luminosity; */
}



.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding: 0.5rem 0 ;
  border-bottom: 2px solid;
  margin: 0 2.5rem;
}

.intro {
  margin: 0 2.5rem;
  display: grid;
  grid-template-columns: auto auto 1.25fr;
  grid-gap: 2rem;
}



.intro h1 {
  max-width: 30rem;
  font-size: 3rem;
  font-family: var(--font-light);
  font-weight: normal;
  line-height: 1.1;
  border-bottom: 2px solid;
  padding-bottom: 2rem;
}

.heroText {
  font-family: var(--font-bold);
  font-size: 18rem;
  display: grid;
  grid-template-columns:repeat(3, 1.3ch);
  grid-template-rows: repeat(4, 1fr);
  line-height: 0.9;
  text-align: center;
  place-items: center;
}


.heroText > div:nth-of-type(6) {
  grid-row-start: 3;
}
.heroText > div:nth-of-type(7) {
  grid-row-start: 3;
  grid-column-start: 3;
}
.heroText > div:nth-of-type(8) {
  grid-row-start: 4;
  grid-column-start: 3;
}
.heroText > div:nth-of-type(9) {
  grid-row-start: 4;
  grid-column-start: 3;
  margin-right: -2ch;
}

.heroImage {
  background: url(/images/photo-1605370692977-3c272ddb10ef.webp);
  background-position:center;
  background-size: cover;
  border-radius: 100%;
  width: 1.3ch;
  height:1.3ch;
}


.homeNav {
  display: flex;
  flex-direction: column;
  font-family: var(--font-bold);
  font-size: 2rem;
  line-height: 1.1;
}


.homeNav a {
  margin: 1rem 0;
  width: 28%;
}



.ourStories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}


.listItem {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
}

.listItem a {
  color: var(--color-light)
}

.aboutUs {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "Heading Heading"
  "Blurb Images";
  margin: 2rem 0 ;
}



.aboutUs h2 {
  font-family: var(--font-bold);
  font-size: 30rem;
  margin: 0;
  line-height: 1;
  margin-left: -10rem;
  margin-bottom: -8rem;
  z-index: 2;
  grid-area: Heading;
}

.aboutUs p {
  grid-area: Blurb;
  padding: 4rem 3rem;
  font-size: 1.25rem;
}

.aboutUs .imageGroup {
  display: grid;
  /* width: 50%; */
  grid-auto-flow: column;
  grid-gap: 1rem;
}

.aboutUs img{
  width: 25rem;
  height: 30rem;
  object-fit: cover;
}

.notepad {
  border-left: 2px solid;
  padding: 1rem 2rem;
  background: url(/images/photocopy-edge.jpg), var(--color-light);
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: 2.5rem;
  overflow-y: auto;
}

.contactUs {
  border-top: 2px solid;
  margin:0 1.5rem;
  font-weight: 400;
  align-self: end;
  margin-bottom: 1rem;
}
.contactUs p {
  margin-bottom: 0.125rem;
  color: var(--color-dark);
}

.contactUs a{
  color: var(--color-dark);
}

.sharkieBois a + a{
  margin-left: 0.25rem;
}

.cta {
  border: 2px solid;
  background: var(--color-light);
  padding: 0.5rem 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.center {
  margin: 0 auto;
}



