:root {
  --font-regular: 'silkaregular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-light: 'silkaextra_light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-bold: 'silkabold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-dark: rgb(20, 20, 20);
  --color-light: rgb(255,249,243);
}


@media (prefers-color-scheme: dark) {
  :root {
   --color-dark: rgb(255,249,243); 
   --color-light: rgb(20, 20, 20);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-dark: rgb(20, 20, 20);
    --color-light: rgb(255,249,243);
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-regular);
  background: var(--color-light);
  color: var(--color-dark);
  line-height: 1.6;
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  html {
    font-size: calc(0.25rem + 6 * ((100vw - 320px) / 680));
  }
}

* {
  box-sizing: border-box;
}
::selection{
  color: var(--color-light);
  background: var(--color-dark);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-size: unset;
}

[type="hidden"] {
  display: none;
}


