.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 7rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
}

.listItem a {
  color: var(--color-light)
}

.articleContent {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 90vh;
}

.articleContent > *:not(.img) {
  margin: 0 2.5rem
}

.articleContent header + div {
  height: 50vh;
}



.articleContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}